<mat-card>
  <mat-card-title>{{user?.name}}</mat-card-title>
  <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="user?.name && user?.email">
      <form
              [formGroup]="userDetailsForm"
              (ngSubmit)="saveData()"
      >

        <mat-form-field appearance="fill">
          <mat-label>Leave a comment</mat-label>
          <input matInput placeholder="your address" formControlName="officeLocation" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>User work location</mat-label>
          <mat-select formControlName="residentialAddress">
            <mat-option *ngFor="let location of locationList" [value]="location">
              {{location}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </ng-container>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button (click)="saveData()" color="primary">Save</button>
    <button mat-flat-button routerLink="/" color="accent">Cancel</button>
  </mat-card-actions>
</mat-card>
